
.button {
	cursor: pointer;
	text-decoration: none;
	padding: $-xs $-s;
	display: inline-block;
	border: 2px solid #888;
	border-radius: 4px;
	background-color: transparent;
	font-weight: bold;
	color: #444;
	margin: $-m  $-m 0 0;
	font-size: $fs-s;
	line-height: 1.4em;
	min-width: 84px;
	text-transform: none;
	i{
		padding-right: $-xs;
	}
	&:hover {
		background-color: #888;
		color: #FFF;
	}
	&:active {
		background-color: #666;
		color: #FFF;
	}
}

.button.pos {
	background-color: $green;
	border: 2px solid $green;
	color: #FFF;
	&:hover {
		background-color: $green-light;
	}
	&:active {
		background-color: $green-dark;
	}
}

.button.neg {
	background-color: $red;
	border: 2px solid $red;
	color: #FFF;
	&:hover {
		background-color: $red-light;
	}
	&:active {
		background-color: $red-dark;
	}
}

// Forms

.vertical {
	label {
		display: block;
		vertical-align: top;
		margin: $-m 0 $-xs 0;
	}
	textarea, input {
		margin-top: $-xs;
		display: block;
	}
	label > input[type=radio] {
		display: inline-block;
		vertical-align: middle;
		margin: 0 $-s 0 0;
	}
	.error {
		color: red;
	}
	.group {
		margin: $-l 0 $-s 0;
		.current, button {
			margin: $-s 0 0 0;
		}
	}
	.group .inner {
		padding: 0 $-s;
		margin-left: $-xs;
		border-left: 3px solid #888;
		label {
			margin: $-xs 0 $-xs 0;
		}
	}
}



// Notifications
.status {
	display: inline-block;
	color: $green;
	margin-left: $-m;
	i {
		margin-right: $-xs;
	}
}

.subheader {
	font-weight: bold;
}