

<section class="header">
	<div class="container">
			<h2>Recent Items</h2>
			<p class="status" ng-class="statusClass" ng-show="status">
				<i class="fa fa-thumbs-o-up"></i>
				{{status}}
			</p>
	</div>
</section>


<section class="container url-form">
	<table class="table">
		<thead>
			<tr>
				<th width="20%">Identifier</th>
				<th width="60%">URL</th>
				<th width="20%">Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="location in locations">
				<td>{{location.uid}}</td>
				<td>
					<div class="overflow">
						{{location.url}}
					</div>
					<div class="lifebar" ng-if="location.life">
						<div class="track">
							<div class="life" ng-class="{expired: location.expired}" ng-style="{width: location.lifePercent}"></div>
						</div>
					</div>
				</td>
				<td>
					<a ng-href="/set/{{location.uid}}" class="button icon">
						<svg fill="#FFFFFF" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
						    <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
						    <path d="M0 0h24v24H0z" fill="none"/>
						</svg>
						Edit URL
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</section>