

<section class="header">
	<div class="container">
			<h2>Recent Items</h2>
			<p class="status" ng-class="statusClass" ng-show="status">
				<i class="fa fa-thumbs-o-up"></i>
				{{status}}
			</p>
	</div>
</section>


<section class="container url-form">
	<table class="table">
		<thead>
			<tr>
				<th width="20%">Identifier</th>
				<th width="60%">URL</th>
				<th width="20%">Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="location in locations">
				<td>{{location.uid}}</td>
				<td>
					<div class="overflow">
						{{location.url}}
					</div>
					<div class="lifebar" ng-if="location.life">
						<div class="track">
							<div class="life" ng-class="{expired: location.expired}" ng-style="{width: location.lifePercent}"></div>
						</div>
					</div>
				</td>
				<td>
					<a ng-href="/set/{{location.uid}}" class="button">
						<i class="fa fa-pencil"></i>Edit URL
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</section>